&qspi {
	status = "disabled";
};

&uart0 {
	status = "disabled";
};

/ {
	ctpm {
		compatible = "gpio-keys";
		ctpmint: ctpm_int {
				gpios = <&gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
				label = "CTPM Interrupt Pin";
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	sda-pin = <15>;
	scl-pin = <13>;
};