#include "../nrf-bindings.h"
#include <dt-bindings/led/led.h>

&qspi {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

/ {
	ctpm {
		compatible = "gpio-keys";
		ctpmint: ctpm_int {
				gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
				label = "CTPM Interrupt Pin";
		};
	};

	aliases {
		led-strip = &led_strip;
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
	   group1 {
		  psels = <NRF_PSEL(TWIM_SDA, 0, 15)>,
				<NRF_PSEL(TWIM_SCL, 0, 13)>;
	   };
	};
	spi1_default: spi1_default {
		group1 {
			psels = <NRF_PSEL(SPIM_MOSI, 0, 42)>,
				<NRF_PSEL(SPIM_MISO, 0, 28)>,
				<NRF_PSEL(SPIM_SCK, 0, 27)>;
		};
	};
 };
 

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	clock-frequency = <100000>;
};

&spi1 { /* LED data pin uses mosi */
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <SPI_FREQ>;
		
		chain-length = <24>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};
};
