#include "../nrf-bindings.h"
#include <dt-bindings/led/led.h>

&qspi {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

/ {
	ctpm {
		compatible = "gpio-keys";
		ctpmint: ctpm_int {
				gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
				label = "CTPM Interrupt Pin";
		};
	};
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	sda-pin = <15>;
	scl-pin = <13>;
};

&spi1 { /* LED data pin uses mosi */
	compatible = "nordic,nrf-spim";
	status = "okay";
	mosi-pin = <42>;
	miso-pin = <28>;
	sck-pin = <27>;
	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "WS2812";

		reg = <0>; /* ignored, but necessary for SPI bindings */
		spi-max-frequency = <SPI_FREQ>;
		
		chain-length = <10>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
		spi-one-frame = <ONE_FRAME>;
		spi-zero-frame = <ZERO_FRAME>;
	};
};
